
    /* Font styles */
    $font-family: "Poppins", system-ui;
    $fs-base: 16px;
    $fs-large:24px;
    $fs-x-small:10px;
    $fs-small: 12px;
    $fs-medium: 14px;

    /* Colors */
    $clr-primary:#FF8142;
    $clr-warm-pink:#F26680;
    $clr-soft-blue:#7789F2;
    $clr-cyan:#38BDF2;
    $clr-mint-green:#91D99C;
    $clr-orange:#F2A03D;
    $clr-blue: #0521D8;
    $clr-light:#FFFFFF;


    /* Texto Colors */
    $text-clr-light:#FFFFFF;
    $text-clr-darker:#090F24;
    $text-clr-dark:#BEC0C7;

    /* Spacings */
    $gap-row-tags: 4px;
    $gap-col-login:19px;
    $gap-col-cards:12px;
    $gap-col-calendar-day: 1rem;
    /* Margins */
    $margin-primary:33px;


    /* Alerts */
    $clr-alert-error:  #F85640;
    $clr-alert-warning: #FBA63C;
    $clr-alert-success: #34A770;
    $clr-alert-info: #08A0F7;

