@import '../shared/variables';

.button__login {
    width: 325px;
    height: 58px;
    background-color: $clr-primary;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    font-size: $fs-base;
    font-weight: bold;
    color: $text-clr-light;
  }
  
  .button__login:hover {
    background-color: $clr-mint-green;
  }

.button__createtask{
    width: 58px;
    height: 58px;
    background-color: $clr-primary;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    color: $text-clr-light;
  }