@use "../shared/mixin" as m;
@use "../shared/variables" as v;

.cards__container {
    @include m.cards-container(v.$padding-card-cont, v.$gap-container);
}

.card {
    @include m.card(
        v.$border-radius,
        v.$padding-card-y,
        v.$padding-card-x,
        v.$box-shadow
    );

    &__body {
        @include m.align-items(flex, space-between, flex-start, 8px);
    }

    &__details {
        @include m.card-details(v.$gap-details);
    }

    &__title {
        @include m.text-styles(0);
    }

    &__tag {
        font-size: v.$font-size-tag;
        padding: v.$padding-tag;
        display: inline-block;
        border-radius: v.$border-radius-tag;
        &-pending {
            @include m.tag-styles(v.$clr-pink-50, v.$clr-pink-dark);
        }
        &-inprogress {
            @include m.tag-styles(v.$clr-organge-50, v.$text-clr-orange);
        }
        &-complete {
            @include m.tag-styles(v.$clr-cyan-50, v.$clr-cyan-drk);
        }
    }

    &__date {
        @include m.text-styles(0, v.$clr-gray-light, v.$font-weight-date);
    }

    &__personal {
        @include m.card-variant(v.$clr-green);
    }
    &__college {
        @include m.card-variant(v.$clr-warm-pink);
    }

    &__others {
        @include m.card-variant(v.$clr-soft-blue);
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        gap: v.$gap-buttons;
    }
}
